<div class='welcome center jumbotron col-md-8 col-md-offset-2'>
	<h1>It's going to be a quiet Night in Minden</h1>
	<% if !logged_in? %>
		<div class="links">
			<%= link_to 'Log In', login_path, :class => 'btn btn-default' %>
			<%= link_to 'Sign Up', signup_path, :class => 'btn btn-primary' %>
		</div>
	<% else %>
		<p>You are now logged in. You may change your table and your personal information by clicking on the links up top.</p>
	<% end %>
</div>