// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	position: relative;
	display: block;
	
	text-align: center;
}

.welcome {
	position: relative;

	.links {
        text-align: center;
    }
}

.alert {
    text-align: center;
}

.login {
    display: relative;
}